html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: color 250ms $transition-type,
    background-color 250ms $transition-type;
}
body {
  margin: 0px;
  font-style: normal;
  font-family: Roboto, sans-serif;
}
